<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Revamped</title>
    <link rel="stylesheet" href="index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Slab:wght@100..900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>
<style>
    /* font-family: "Concert One", sans-serif; */
/* font-family: "Roboto Slab", serif; */
/* font-family: "Noto Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: .5em 0em;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(3px);
    position: fixed;
}

nav h1 {
    font-size: xx-large;
    color: white;
}

.links {
    display: none;
    font-weight: bolder;
    gap: 1.4em;
    font-size: larger;
}

.links a {
    color: azure;
    transition: .3s;
}
.links a:hover{
    color: navajowhite;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 3em;
    gap: .4em;

}

.menu p {
    width: 70%;
    padding: .1em;
    background: slateblue;
    transition: .5s;
    border-radius: .5em;
}

.new-top {
    transform: rotate(45deg) translate(.5em, .5em);
}

.mid {
    scale: 1;
}

.new-mid {
    scale: 0;
}

.new-btm {
    transform: rotate(-45deg) translate(.5em, -.5em);
}

main {
    color: blue;
    width: 50vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(9px);
    transition: .3s;
    left: -50vw;
}

main a {
    font-size: xx-large;
    color: white;
    font-family: "Roboto Slab", serif;
    transition: .3s;
}
main a:hover{
 color: navajowhite;
}

.close {
    position: absolute;
    top: 1em;
    left: .5em;
    z-index: 300;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: .2em;
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.front-view {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .2)), url("https://img.freepik.com/premium-photo/let-s-sing-stylish-retro-microphone_152904-1370.jpg?w=740");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    padding: 1em 2em;
    align-items: center;
}

.front-view h1 {
    font-size: xx-large;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: xxx-large;
}

.front-view h2 {
    font-size: xxx-large;
    -webkit-text-stroke: 1px gray;
    color: transparent;
}

.text {
    color: navajowhite;
    font-weight: 700;
    font-size: larger;
    font-family: "Roboto Slab", serif;
}

.front-view article {
    color: slategray;
    font-weight: bold;
    padding-top: 1em;
    font-family: "Roboto Slab", serif; 
}

.button {
    padding-top: 2em;
    display: flex;
    gap: 1em;
}

button {
    border: 1px solid white;
    border-radius: .4em;
    padding: .8em;
    font-weight: bolder;
    color: navajowhite;
    background: none;
    cursor: pointer;
}
button a{
    color: navajowhite;
}

svg {
    cursor: pointer;
}

.intro {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em .3em;
}

.intro h1 {
    font-size: xx-large;
    color: slategray;
    font-family: "Noto Sans", sans-serif;
}

.intro p {
    font-weight: 500;
    font-size: x-large;
    color: gray;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    padding: 2em .2em;
    gap: 1em;
}

.category div {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bolder;
    font-size: 1.3em;
    color: darkslategrey;
}

.affiliate {
    padding: 2em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    font-size: 2.3em;
    color: slategrey;
    opacity: .8;
    font-family: "Concert One", sans-serif;
}

.Register{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    background: black;
}
.Register h1{
 font-size: 2em;
 color: slateblue;
}
form{
    box-shadow: 1px 1px 2px rgba(250, 0, 0, .4);
    height: fit-content;
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
   
}
input{
    width: 20em;
    padding: .8em .3em;
    border-radius: .4em;
    border: none;
    border-bottom: 1px solid slategray;
    font-weight: bold;
}

input[type="submit"]{
    background: slateblue;
    color: navajowhite;

}

.prices{
    width: 100%;
    height: fit-content;
    background: #011;
    color: #fff;
}
.prices h1{
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

.Services{
    grid-template-columns: 1fr 1fr ;
    width: 100%;
    height: fit-content;
    display: grid;
     place-items: center;
     padding: 3em 0;
     gap: 2em;
 }

.Services div img{
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: .4em;
  margin-bottom: .3em;
  transition: .3s;
}
img:hover{
    scale: 1.1;
}

.details{
    margin-top: .6em;
}

/* DESKTOP VIEW */
@media screen and (min-width:760px) {
    .links {
        display: flex;

    }

    .links a {
        padding: 0 .4em;
    }

    .menu {
        display: none;
    }

    main {
        display: none;
    }

 .intro{
    align-items: center;
 }
 .category{
    align-items: center;
 }
 .Services{
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
    display: grid;
     place-items: center;
     padding: 3em 0;
     gap: 2em;
 }
}



</style>
<body>


    <!-- NAV BAR -->

    <nav>

        <h1>R&<span style="font-family: cursive;color: slateblue;">L</span></h1>



        <!-- Links -->

        <div class="links">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="#Register">Register</a>
            <a href="">Support</a>
        </div>



        <!-- Menu -->

        <div class="menu">
            <p class="top"></p>
            <p class="mid"></p>
            <p class="btm"></p>
        </div>
    </nav>



    <!-- Menu Bar -->

    <main class="menu-bar">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="#Register">Register</a>
        <a href="">Support</a>

        <div class="close">
            close
        </div>
    </main>



    <!-- FRONT VIEW PAGE -->

    <section class="front-view">
        <div>
            <h1>RYTHM and LYRICS</h1>
            <p class="text">Gospel Music Competion Awards</p>
            <h2>31 <sup>st</sup>- May - 2024</h2>

            <article style="line-height: 2em;">
              A TV reality show with a difference.This is a yearly TV music reality show project,a quarterly project titled REVAMPED MUSIC GOSPEL MUSIC COMPETITION AWARD 2024(RGMCA),for both <mark style="font-weight: bolder;font-size: x-large;color: slateblue;padding: 0 .5em;border-radius: .5em;">Instrumentalist and Singers...</mark>
            </article>

            <div class="button">
                <button> <a href="">Opportinities</a> </button>
                <button><a href="#Register">Register Now</a></button>
            </div>

            <div class="button">
                <a href="wa.me/09043510600">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="navajowhite" class="bi bi-whatsapp"
                    viewBox="0 0 16 16">
                    <path
                        d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                </svg>
            </a>

                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-telegram"
                    viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09" />
                </svg>

            </div>

        </div>
    </section>



    <!-- INTRODUCTION -->

    <section class="intro">
        <h1 style="margin-bottom: .7em;">Welcome to RYTHM & LYRICS PROJECT (REVAMPED GOSPEL COMPETITION AWARDS )   
          <p>Season 1 2024</p>
        </h1>
       
        <p>Are you ready ?</p>

        <div class="category">
            <!-- A -->
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="slategrey" class="bi bi-bicycle"
                    viewBox="0 0 16 16">
                    <path
                        d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z" />
                </svg>
                <span>Join our whatsapp and telegram group</span>
            </div>



            <!-- B -->

            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="slategrey" class="bi bi-mic"
                    viewBox="0 0 16 16">
                    <path
                        d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                    <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3" />
                </svg>

                <span>Listen to the audio instruction on the group..</span>
            </div>



            <!-- C -->

            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="slategrey" class="bi bi-list-task"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z" />
                    <path
                        d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z" />
                    <path fill-rule="evenodd"
                        d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z" />
                </svg>

                <span>Carry out the tasks as instructed</span>
            </div>
<!-- 
            <div style="margin-top: 1em;">
                (2,000,000) TWO MILLION NAIRA GRAND WINNING AWARD
            </div> -->
        </div>



        <!-- AFFLILIATE -->

        <div class="affiliate">
            <div>
                <img style="width: 3em;height: 3em;" src="../IMG-20240417-WA0132.jpg">
                <img  src="https://photos.google.com/photo/AF1QipM3cknG6VbPPo8vrA39mb64zAAhW9f1Op5Kit7h" >
            </div>
<!--             
           <div>DHIHMAKX CO.LTD</div>
           <div>MAKSMEDIA</div>
           <div>FINICKY</div>
           <div>JETOYA CONSULT</div> -->
        </div>


    </section>



    <!-- REGISTRATON -->

    <section class="Register" id="Register">

        <h1> Register here</h1>

     <form action="http://localhost:3000" method="post">

         <input class="name" type="text" placeholder="Name" name="name">
         <input class="email" type="email" placeholder="Enter your email" name="email">

         <input type="submit" value="Register">
         <p class="info" style="color: red;">
        </p>
         
     </form>

     <p style="color: slategrey; text-align: center;width: 30em;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Email will be sent to you automatically ,also we will reach out to you through your telephone ...Proudly sponsored by DHIHMAKX CO.LTD</p>
    </section>




    <!-- PRICES -->

    <section class="prices">
        <h1>Our Services</h1>
        
        <div class="Services">
          
            <div>
              <img src="https://img.freepik.com/free-photo/side-view-radio-microphone-with-copy-space_23-2148808737.jpg?t=st=1713204790~exp=1713208390~hmac=23630e65b0a3c7f49c68536b6ad678751eccf1b24ce3bae476bc6ed3c22bfdc7&w=740" alt="">
              <p class="detail">
                Music Production
              </p>
              <p class="text"></p>
           </div>

           <div>
            <img src="https://img.freepik.com/free-photo/happy-young-woman-designer-planning-renovation-modern-apartment_273609-37022.jpg?t=st=1713204917~exp=1713208517~hmac=33b878b3b844206c6c60750405bb63c669246d28fd0715ae49fc4532f8011be4&w=740" alt="">
            <p class="detail">
              Artists Management
            </p>
            <p class="text"></p>
         </div>

         <div>
            <img src="https://img.freepik.com/free-psd/man-with-vinyl-disc-listening-music_23-2151018361.jpg?t=st=1713205104~exp=1713208704~hmac=a4f543deb4fa5d1e3c3de70a512d4de794f6b07e0beddd8404894418c2579b6d&w=360" alt="">
            <p class="detail">
              Record Label
            </p>
            <p class="text"></p>
         </div>

         <div>
            <img src="https://img.freepik.com/free-photo/midi-keyboard-headphones-laptop-with-program-creating-music_169016-26455.jpg?t=st=1713205319~exp=1713208919~hmac=8f2e082e0bba0ca93545805849474dd2de43a4470af9ad68efd9daf904d696f9&w=740" alt="">
            <p class="detail">
              Music Production
            </p>
            <p class="text"></p>
         </div>


         <div>
            <img src="https://img.freepik.com/premium-photo/futuristic-clean-stage-blank-center-background_494423-14883.jpg?w=740" alt="" srcset="">
            <p class="detail">
              Music Production
            </p>
            <p class="text"></p>
         </div>



        </div>

    </section>



<script>
    
    
const menu = document.querySelector(".menu")

var close = document.querySelector(".close")

var menuBar = document.querySelector(".menu-bar")

menu.onclick = MenuDisplay
close.onclick = Close

function Close(){
    var top = document.querySelector(".top")
    var mid = document.querySelector(".mid")
    var btm = document.querySelector(".btm")

    menuBar.style.left = "-50vw"

    top.classList.remove("new-top")
    mid.classList.remove("new-mid")
    btm.classList.remove("new-btm")
}

function MenuDisplay() {
 window.scrollTo(0,0)
    var top = document.querySelector(".top")
    var mid = document.querySelector(".mid")
    var btm = document.querySelector(".btm")


    var btm = document.querySelector(".btm")

    top.classList.toggle("new-top")
    mid.classList.toggle("new-mid")
    btm.classList.toggle("new-btm")

    if(top.classList.contains("new-top")){
        menuBar.style.left = "0vw"
    }else{
        menuBar.style.left = "-50vw"
    }
}

const form = document.querySelector("form")
form.onsubmit = (e)=>{
  //  e.preventDefault()
    // var name = document.querySelector(".name").value
    // var email = document.querySelector(".email").value
    // if(name == "" || email == ""){
    //     document.querySelector(".info").innerHTML = "Input field cannot be empty"
    // }else{
    //     document.querySelector(".info").innerHTML = "..."
    //    // Data()
    // }

}

//  async function Data(){
//     var name = document.querySelector(".name").value
//     var email = document.querySelector(".email").value
//  const data = await fetch("http://localhost:4000/",{

//     method: "POST",
//     headers: {'Content-Type':'application/json'},
//     body: JSON.stringify({name,email}),
    
//   })
//   const response = data.json()
//   console.log(response.data)
//  }
  
</script>
</body>

</html>